.bg_blue {
  background-color: #02c2e4;
}
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

.section {
  margin-top: 100px;
}

.bg-gray {
  background-color: #f5f5f5;
}
